/* --------------------------- Font --------------------------- */

@font-face {
    font-family: "Ubuntu";
    src: url("../font/Ubuntu-M.ttf") format("truetype");
}



/* --------------------------- Form --------------------------- */

input{
    border-color: #2596be;
}

#input-data {
    width: 90vw;
    font-family: Ubuntu;
    margin: 0 auto;
    margin-top: 5vh;
    display: flex;
    border-color: #2596be;
}

.input-text {
    flex: 1;
    min-width: 190px;
    margin: 5px;
    height: 35px;
    padding-left: 5px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #262626;
    transition: 0.25s;
    outline: none;
}

.input-text:focus {
    border-color: darkblue;
}

.input-btn {
    flex: 1;
    margin: 5px;
    height: 39px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #262626;
    cursor: pointer;
    transition: 0.3s all ease;
}

.input-btn:hover {
    background-color: #383838;
    border-color: #383838;
    color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.container-fluid {
    max-width: 90%;
    max-height: 110%;
    background-color: white;
}

#table-title {
    text-align: center;

}

.justify-content-end {
    background-color: #2596be;
    color: #000;

}

.nav-item {
    padding: 1px;

}

.nav-link {
    color: #000;
}

/* --------------------------- Modal --------------------------- */

.modal {
    text-align: center;
    padding: 0!important;
  }
  .modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
 
.modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    width: 130%;
}

.btn-primary {
    background-color: #2596be;
    border: #2596be;
}

#send {
    background-color: #439037;
}

#modalUser{
    align-items:center;
}

/* --------------------------- Table --------------------------- */

#myTable {
    font-family: Ubuntu;
    width: 90%;
    margin: 0 auto;
    margin-top: 5vh;
    border-collapse: collapse;
}

#myTable th {
    background-color: #2596be;
    color: white;
    font-weight: 100;
}

#myTable td,
th {
    border: 1px solid #ddd;
    padding: 8px;
}

#myTable td {
    padding: 5px;
}

#myTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#myTable tr:hover {
    background-color: #ddd;
}

.remove-btn {
    width: 100%;
    height: 100%;
    text-align: center;
    border-width: 0px;
    background-color: transparent;
    cursor: pointer;
}